<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		
		<!-- Boostrap CSS - bootstrap.min.css -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Mi CSS -->
		<link rel="stylesheet" href="../css/style2.css">
	</head>
	<body>
		<div class="grid_contenedor">
			<header class="base">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
					  <a class="navbar-brand" href="../index.html">
						<img src="../img/autohealth_banner.jpg" alt="Logo de autohealth" class="logo_nav">
					  </a>
					  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						  <li class="nav-item">
							<a class="nav-link" aria-current="page" href="../views/descargas.html">Descargas</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="../views/contacto.html">Contacto</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="../views/blog.html">Blog</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link " href="../views/registrate.html">Registrate</a>
						  </li>
						</ul>
					  </div>
					</div>
				  </nav>
			</header>
			<!-- ends head -->
			<main class="main">
				<section id="ventajas">
					<article>
						<h1 class="text-bold text-center">Blog de usuarios versión PRO!</h1>
					<div class="contenidoart">
						<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate natus eveniet veritatis ipsam, autem error numquam, eaque ipsa, porro ad? In esse pariatur impedit eos tenetur neque quod aspernatur!
						</p>
					</div>
					</article>
				</section>
					<!-- ventajas de usar nuestro sistema -->
				<section class="formulario">
					<h2 class="text-bold text-center">Por políticas de la marca, te pediremos algunos datos antes de ingresar</h2>

					<form action="envio.php"> 
						<fieldset>
							<legend class="text-bold">Info personal</legend>
								<label for="nombre">Nombre y Apellido</label>
								<input type="text" id="nombre" placeholder="John Doe">
								<label for="mail">Mail</label>
								<input type="mail" id="mail" placeholder="correo@ejemplo.com">
						</fieldset>
						<fieldset>	
								<legend class="text-bold">Aquí podes dejarnos tu escrito</legend>
									<!-- <label for="version">Que versión te interesa ?</label> -->
									<!-- <select name="Qué versión te interesa más?" id="version">
										<option value="lite">Lite</option>
										<option value="home">Home</option>
										<option value="pro">Pro</option>
									</select> -->
									<!-- <br><br>
									<label for="os">Sistema operativo</label>
									<br>
									<label for="android">Android</label>
									<input type="radio" id="android" name="os" value="android">
									<label for="ios">iOS</label>
									<input type="radio" id="ios" name="os" value="ios">
									<br><br> -->
								<!-- <label for="mensaje">Tu mensaje</label>
									<br> -->
									<textarea name="Deje su mensaje" id="mensaje" cols="60" rows="10"></textarea>
									<br>
									<input type="submit" value="Enviar">
									<input type="reset" value="Cancelar">
						</fieldset>
					</form>
				</section>
			</main>
			<section class="map" id="mapaindex">
				<article>
					<h1 class="text-bold text-center animado">Blog de usuarios versión FREE!</h1>
				<div class="contenidoart">
					<p class="text-center">Por el monento el blog de usuarios FREE se encuentra en construcción. Los atenderemos en breves..
					</p>
				
			</section>
			
			<footer class="pie">
				<ul>
					<li>
						<a href="#">Sobre nosotros</a>
					</li>
					<li>
						<a href="#">Términos del servicio</a>
					</li>
					<li>
						<a href="#">Política de privacidad</a>
					</li>
					<li>
						<a href="#">Desarrolladores</a>
					</li>
					<li>
						<a href="#">Soporte técnico</a>
					</li>
					<li>
						<a href="../views/descargas.html">Descargas</a>
					</li>
				
					<a href="https://www.facebook.com" target="blank">
						<img src="../img/fb.png" alt="Facebook logo" width="60" height="40">
					</a>
					<a href="https://www.instagram.com" target="blank">
						<img src="../img/ig.png" alt="Instagram logo" width="60" height="40">
					</a>
					<a href="httsp://www.linkedin.com" target="blank">
						<img src="../img/ln.png" alt="Linkedin logo" width="60" height="40">
					</a>
				</ul>	
			</footer>
		</div>	<!-- ends grid_contenedor -->
	</body>
</html>