<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<a href="index.html">
				<img src="../img/logo.png" alt="Logo de autohealth" class="w-50" >
			</a>
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="../views/descargas.html" class="text-bold text-underline">Descargas</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
				<li>
					<a href="../views/blog.html">Blog</a>
				</li>	
				<li>
					<a href="../views/registrate.html">Registrate</a>
				</li>	
			</ul>
		</nav>
		<!-- ends nav -->
		<header >
			<img src="../img/mechanic-banner.jpg" alt="Imagen heroe" id="img_heroe">
		</header>
		<!-- ends head -->
		<main>
			<div class="formulario margin-top--100">
			<h1>Elegí la versión que prefieras!</h1>
			<table border="1px">
				<th>
					<td><b>VERSIÓN LITE</b></td>
					<td><b>VERSIÓN HOME</b></td>
					<td><b>VERSIÓN PRO</b></td>			
				</th>	
				<tr>
					<td><b>PUBLICIDAD EN LA APP</b></td>
					<td>Espacio publicitario</td>
					<td>No</td>
					<td>No</td>
				</tr>
				<tr>
					<td><b>MANTENIMIENTOS</b></td>
					<td>Hasta 5 tipos sugeridos</td>
					<td>Hasta 20 tipos sugeridos y 2 customizables</td>
					<td>Sin límite customizable</td>			
				</tr>
				<tr>
					<td><b>NOTIFICACIONES</b></td>
					<td>Mail</td>
					<td>Mail y Push</td>
					<td>Mail y Push</td>			
				</tr>
				<tr>
					<td><b>PRECIO</b></td>
					<td>Gratis</td>
					<td>USD 3</td>
					<td>USD 7</td>			
				</tr>
				<tr>
					<td><B>DESCARGAR</B></td>
					<td><a href="../views/pay.html" target="blank"><img src="../img/descarga.png" alt="descarga lite" height="30" width="30"></a></td>
					<td><a href="../views/pay.html" target="blank"><img src="../img/descarga.png" alt="descarga home" height="30" width="30"></a></td>
					<td><a href="../views/pay.html" target="blank"><img src="../img/descarga.png" alt="descarga pro" height="30" width="30"></a></td>
				</tr>

			</table>
			</div>
		</main>
			<footer class="pie">
			<ul>
				<li>
					<a href="#" class="pie__link">Sobre nosotros</a>
				</li>
				<li>
					<a href="#" class="pie__link">Términos del servicio</a>
				</li>
				<li>
					<a href="#" class="pie__link">Política de privacidad</a>
				</li>
				<li>
					<a href="#" class="pie__link">Desarrolladores</a>
				</li>
				<li>
					<a href="#" class="pie__link">Soporte técnico</a>
				</li>
				<li>
					<a href="../views/descargas.html" class="pie__link">Descargas</a>
				</li>
			</ul>
				<a href="https://www.facebook.com" target="blank" class="pie__rrss">
					<img src="../img/fb.png" alt="Facebook logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="https://www.instagram.com" target="blank"class="pie__rrss">
					<img src="../img/ig.png" alt="Instagram logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="httsp://www.linkedin.com" target="blank"class="pie__rrss">
					<img src="../img/ln.png" alt="Linkedin logo" width="60" height="40" class="pie__rrss--s">
				</a>
			
		</footer>
	</body>
</html>