<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<a href="index.html" >
				<img src="../img/logo.png" alt="Logo de autohealth" class="w-50" >
			</a>
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="../views/descargas.html">Descargas</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
				<li>
					<a href="../views/blog.html">Blog</a>
				</li>	
				<li>
					<a href="../views/registrate.html" class="text-bold text-underline">Registrate</a>
				</li>	
			</ul>
		</nav>
		<!-- ends nav -->
		<header >
			<img src="../img/mechanic-banner.jpg" alt="Imagen heroe" id="img_heroe">
		</header>
		<!-- ends head -->
		<main>
			<h1 class="margin-left--100">Registrate!</h1>
			<form action="registro.php" class="formulario margin-bottom--100">
				<fieldset>Info de Registro
					<br><br>
					<label for="mail">Brindanos tu mail</label>
					<input type="mail" placeholder="correo@ejemplo.com" id="mail" required>
					<br>
					<label for="pass">Elegí una contraseña</label>
					<input type="pass" placeholder="mínimo 6 dígitos" id="pass">
					<br><br>
					<input type="submit" value="Registrarme!">
					<input type="reset" value="Cancelar">
				</fieldset>
			</form>
		</main>
			<footer class="pie">
			<ul>
				<li>
					<a href="#" class="pie__link">Sobre nosotros</a>
				</li>
				<li>
					<a href="#" class="pie__link">Términos del servicio</a>
				</li>
				<li>
					<a href="#" class="pie__link">Política de privacidad</a>
				</li>
				<li>
					<a href="#" class="pie__link">Desarrolladores</a>
				</li>
				<li>
					<a href="#" class="pie__link">Soporte técnico</a>
				</li>
				<li>
					<a href="../views/descargas.html" class="pie__link">Descargas</a>
				</li>
			</ul>
				<a href="https://www.facebook.com" target="blank" class="pie__rrss">
					<img src="../img/fb.png" alt="Facebook logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="https://www.instagram.com" target="blank"class="pie__rrss">
					<img src="../img/ig.png" alt="Instagram logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="httsp://www.linkedin.com" target="blank"class="pie__rrss">
					<img src="../img/ln.png" alt="Linkedin logo" width="60" height="40" class="pie__rrss--s">
				</a>
			
		</footer>
	</body>
</html>